@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html, body {
    height: auto;
}

    body {
     color: #49534b;
     background-color: #181a1c;
     min-width: 996px;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container{
    background: none repeat scroll 0 0 #181a1c;
    font-family: 'Open Sans',sans-serif;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 0;
    clear: both;
}

.logo{
    height: 47px;
    float:left;
    margin-top: 23px;
    min-width: 240px;
    width: 50%;
    text-align: right;
}
.logo>img{
    height: 47px;
    width: 200px;
    margin-right: 22px;
}
.logoHome{
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    height: 47px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    width: 200px;
}
.ng-scope > * {
    clear:both;
}

.boxText {
    width: 717px;
}
.row{
    width: auto;
    height: 504px;
    background: url(../img/background.png);
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dropdown:hover {
    display: block;
    transition: height 250ms ease-in-out 250ms;
    overflow: hidden;
}


.row_two{
    background: none repeat scroll 0 0 #202225;

    padding: 97px 0;
    width: auto;
    text-align: center;
}


.textLogo{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    opacity: 8.25;
    text-align: center;
    width: 263px;
    color: #49534b;
}

.secondLine{
    color: #3B884D;
    font-family: 'Open Sans',sans-serif;
    font-size: 31px;
    font-weight: 100;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 420px;
}

.imgLeft{
    background: url("../img/foto1.png") no-repeat scroll 0 0 transparent;
    margin-top: 63px;
    padding-bottom: 86px;
    width: 83px;
}

.imgRight{
    background: url("../img/foto2.png") no-repeat scroll 0 0 transparent;
    float: right;
    margin-top: -86px;
    padding-bottom: 86px;
    padding-right: 81px;
}

.titLeft{
    margin-top: 28px;
    padding-bottom: 86px;
    width: 151px;
}

.titRight{
    float: right;
    margin-top: -106px;
    padding-bottom: 86px;
    padding-right: 21px;
}

.textLeft{
    font-size: 12px;
    font-weight: 100;
    height: 46px;
    letter-spacing: 2px;
    margin-top: 18px;
    padding-bottom: 129px;
    text-align: center;
    width: 237px;
}

.textRight{
    float: right;
    font-size: 12px;
    font-weight: 100;
    height: 46px;
    letter-spacing: 2px;
    margin-top: -173px;
    padding-bottom: 129px;
    text-align: center;
    width: 269px;
}


.containerTwo{
    height: 86px;
    margin-left: auto;
    margin-right: auto;
    width: 409px;
}

.containerTit{
    color: #49534B;
    font-size: 16px;
    font-weight: 400;
    height: 19px;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    width: 499px;
    letter-spacing: 1px;
}

.containerText{
    color: #49534B;
    font-size: 16px;
    font-weight: 400;
    height: 86px;
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
    width: 589px;
}
section h2{
    color: #3B884D;
    font-weight: 100;
    max-width: 600px;
    margin: 0 auto;
    font-size: 39px;
}

.jumbotron p{
    font-weight: 100;
}

.jumbotron{
    margin: 40px 0;
    padding: 100px 0;
    text-align: center;
}

.lead{
    width: 317px;
    margin-left: auto;
    margin-right: auto;
}

.btn-large2 {
    color: #FFFFFF;
    padding: 11px 19px;
    background-color: #197245;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 11px;
}

.map{
    color: #3B884D;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1;
    margin-left: auto;
    text-align: left;
    margin-right: auto;
    width: 256px;
}

.footer{
    height: 102px;
    text-align: center;
    padding-top: 17px;
    letter-spacing: 1px;
}
.heart{
    height: 10px;
}
.powered{
    background: url(../img/medium_logo.png) no-repeat center 20px;
    background-size: 103px;
    background-position-y: 11px;
    height: 100%;
    padding-top: 7px;
    padding-left: 2px;
}


.button{
    padding-top: 20px;
}

.span3{
    text-align: right;
}
.span3.bs-docs-sidebar {
    min-height: 1px;
    margin-left: 0px;
    padding: 10px 30px 0 0;
    background-color: #1d1f22;
    box-sizing: border-box;
    width: 50%;
    min-width: 240px;
}
.bs-docs-sidebar>.input>input{
    box-shadow: none;
}

.nav-tabs.nav-stacked > li > a{
    border:0;
    color: #767676;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 13px;
    padding:8px 0;
    float: right;
    clear: both;
    width: 160px;
    width: 100%;
}
input[class*="span"]{
    background-color: transparent;
    border: 0;
}

.nav > li > a:hover{
    text-decoration: none;
    background-color: #181a1c;
}
.nav > li > a:hover,
#menu > ul > li > a:hover {
    color: #3b884d;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 0;
    padding: 0 49px;
    background-color: #202225;
}
a{
    color: #767676;
}

.summaryBlock {
    display: inline-block;
    width: 300px;
    margin: 0 60px;
    margin-top: 50px;
    vertical-align: top;
}
.summaryBlock > h3 {
    padding-top: 110px;
    font-size: 20px;
    background: url("../img/foto1.png") no-repeat scroll 50% 0 transparent;
}
p {
    margin: 0 0 11px;
    padding-top: 12px;
    font-family: 'Open Sans',sans-serif; 
    font-size: 17px;
    color: #767676;
}
h2 {
    font-size: 25.5px;
    color: #767676;
}
blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #767676;
}
.summaryBlock + .summaryBlock > h3 {
    background: url("../img/foto2.png") no-repeat scroll 50% 0 transparent;
}
.shades {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    height: auto;
    right: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    background-color: #000000;
}
.shades.active {
    display: block !important;
}
.shades > .circle {
    height: 100%;
    background: url("../img/loading.gif") no-repeat scroll 50% 50% transparent;
}

.breadcrumbHolder{
    float: left;
    width: 100%;
}
.breadcrumb{
    background-color: #181A1C;
    border: 0 none;
    color: #767676;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    margin:30px 0 0;
    padding-left: 20px;
}
h1 {
    font-size: 33.5px;
    color: #3b884d;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: 100;
    line-height: 40px;
    text-rendering: optimizelegibility;
    padding-top: 18px;
}

hr{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E0E0E0 -moz-use-text-color #FFFFFF;
    border-image: none;
    border-width: 1px 0;
    clear: both;
    margin: -35px 0;
}
.muted {
    background: url("../img/logo.png") no-repeat scroll 100% 0;
    height: 56px;
    padding-left: 50%;
    clear: both;
    margin-left: -303px;
    margin-top: -117px;
    display: block;
    float: left;
}
.breadcrumb > li {
    display: inline-block;
    text-shadow: 0 1px 0;
}
.breadcrumb > .active {
    color: #3b884d;
}

input[type="text"]{
    width: auto;
    padding: 0 8px;
    height: 30px;
    color: #767676;     font-weight: bolder;     text-transform: uppercase;     font-size: 13px;
    font-family: 'Open Sans';
    padding-right: 25px;
}
.containerScope{
    margin-left: -547px;
    overflow: hidden;
    background-color: #1d1f22;
}
.input{
    float: right;
    position: relative;
}
.span9{
    box-sizing: border-box;
    width: 50%;
    padding: 20px 0 0 30px;
    min-height: 1249px;
}
ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
    color: #767676;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 13px;
}
.pull-right, .breadcrumb {
    padding-top: 12px;}
    .nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #767676;
    margin-left: 7px;
}
div.input:after{
    content: " ";
    background: url(../img/glyphicons-halflings-white.png);
    width: 16px;
    height: 14px;
    min-height: -14px;
    display: block;
    background-position: 423px 476px;
    float: right;
    margin-top: 9px;
    position: absolute;
    top: 0;
    right: 5px;
}
.navHome{
    width: none;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #767676;
    border-bottom: 1px solid #767676;
}
.nav-pills .dropdown-menu {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #181a1c;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #767676;
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    color: #3b884d;
    border-color: #999999;
    background-color: transparent !important;
}

.nav > li > a:hover, .nav > li{
    -ms-transition-delay: 250ms;
    text-decoration: none;
    background-color: transparent;
}
a:hover, a:focus {
    text-decoration: none;
}
a:active {
    background-color: #23a161;
    text-decoration: none;
}
p.heart {
    margin: 0 0 11px;
    padding-top: 12px;
    font-family: 'Open Sans',sans-serif;
    font-size: 17px;
    color: #767676;
    padding-right: 86px;
    display: block;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: none;
}

#menu{
    background-color: #151618;
    height: 0;
    overflow: hidden;
    transition:height 250ms ease-in-out 250ms;
    -webkit-transition:height 250ms ease-in-out 250ms;
}
#menu > ul{
    margin-left: 50%;
    margin-top: 1px;
    padding-left: 20px;
}
.dropdown-toggle:after {
  background: url("/img/glyphicons-halflings-white.png") repeat scroll -314px -119px transparent;
  content: "";
  display: block;
  float: right;
  height: 12px;
  margin-left: 5px;
  width: 12px;
}
#menuContainer {
    top: 75px;
    left: 0;
    right: 0;
    position: absolute;
}
.submenu {
    display: inline-block;
    font-size: 14px;
    padding-right: 29px;
    padding-top: 4px;
}
pre {
    background-color: #181a1c;
}

.container pre > code {
    font-size: 13px;
    font-family: monospace;
    background-color: transparent;
}
.submenudivid {
    display: inline-block;
    padding-left: 0px;
    font-size: 14px;
}
.submenudivid:after {
    background: url(../img/glyphicons-halflings-white.png) scroll 50% 0;
    background-position: 64px 64px;
}
li:hover > div > #menu {
    height: 37px;
}

.menuTop {
    float: left;
}
.headerMon {
    height: 171px;
    background-color: #181A1C;
}
.containMenu {
    float:left;
     height: 100%;
    width: 50%;
}
.menuHome{
    float: left;
    margin-top: 23px;
    width: 100%;
}
.git{
    margin-left: 142px;
    margin-top: -47px;
}