<div>
    <div>
                <ul class="breadcrumb">
                  <li>Learn<span class="divider">/</span></li>
                  <li>{{current.module}}<span class="divider">/</span></li>
                  <li class="active">{{current.file}}</li>
                </ul>
        </div>
    <div class="containerScope">
          <div class="span3 bs-docs-sidebar">
            <div class="input"><input type="text" class="span3" data-ng-model="query" placeholder="Search"></div>

            <ul class="nav nav-tabs nav-stacked ">
                <li data-ng-repeat="document in documents | filter:query " >
                    <a data-ng-click="changeDocument($event, document.name)" href="#/doc/{{document.folder}}/{{document.name}}">
                        {{document.label}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="span9">
            <div data-ng-bind-html-unsafe="document" class="boxText"/>
        </div>
    </div>
</div>


