
<div class="container marketing">
  <section class="row">
    <div class="logoHome"></div>
    <div class="textLogo">small, fast & simple  mongodb ODM for PHP</div>
  </section><!-- /.row -->

  <section class="row_two">
    <h2 class="sectionTitle">I'll help you to create amazing Apps with CoffeeScript</h2>
    <article class="summaryBlock">
      <h3>OPTIMIZED APPS </h3>
      <div class="description">Brownie marzipan faworki bonbon candy canes jelly beans wypas. Oat cake tart bonbon. </div>
    </article>
    <article class="summaryBlock">
      <h3>OPTIMIZED APPS </h3>
      <div class="description">Apple pie danish pudding pie dragée halvah apple pie lemon drops. Lcing bonbon biscuit marshmallow. </div>
    </article>
  </section><!-- /.row2 -->

  <section class="jumbotron">
    <h2 class="sectionTitle">Downloads</h2>
    <p class="lead">I'll help you to create amazing Apps with CoffeeScript</p>
      <div class="button">
        <a class="btn-large2" href="{{latest.zip}}">DOWNLOAD.ZIP ({{latest.label}})</a>
        <a class="btn-large2" href="#">SOURCE ON GITHUB</a>
      </div>
  </section><!-- /.row3 -->

  <section class="row_two">
    <div class="map"><p>proyect root</p>
      <p>| -- css</p>
      <p>| -- | -- main.css (compiled)</p>
      <p>| -- js</p>
      <p>| -- | -- jquery.windows.js</p>
      <p>| -- scss</p>
      <p>| -- | -- main.scss</p>
      <p>| -- index.html</p>
    </div>
   </section><!-- /.row4 -->

   <footer class="footer">
      <p>Hecho con <span class="heart"><img src="../img/heart.png"></span> desde Chamber&iacute;</p>
      <p class="powered">Powered by:</p>

   </footer>
</div><!-- /.container -->
